{% extends 'base.html.twig' %}

{% block title %}Mark index{% endblock %}

{% block body %}
    <div class="table container px-5">
    <h1>Mark Listing</h1>
     <form action={{ path('app_mark_index') }} method="get">
                    <div>
                      <div class="input-group">
                        <input type="" name="Name" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
                        <button type="submit" class="btn btn-outline-primary" value="Search" >search</button>
                      </div>
                    </div>            
    </form><br>
    <table class="table table-striped table-bordered  text-center ">
        <thead>
            <tr class="table table-info ">
                <th>Id</th>
                <th>Student</th>
                <th>Subject</th>
                <th>ASM1</th>
                <th>ASM2</th>
                <th>Average</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mark in marks %}
            <tr>
                <td><strong>{{ mark.id }}</strong></td>
                <td>{{ mark.Student.Name }}</td>
                <td>{{ mark.Subject.Name }}</td>
                <td>{{ mark.ASM1 }}</td>
                <td>{{ mark.ASM2 }}</td>
                <td>{{ mark.Average }}</td>
                <td>{{ mark.Status }}</td>
                <td>
                    <a class="btn btn-outline-info"   href="{{ path('app_mark_show', {'id': mark.id}) }}" type="submit">Show</a>
                    <a class="btn btn-outline-warning"   href="{{ path('app_mark_edit', {'id': mark.id}) }}" type="submit">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <a class="btn btn-primary gap-2 col-2 mx-auto d-md-block" href="{{ path('app_mark_new') }}" type="submit">Create new</a>
    </div>
{% endblock %}
